<launch>
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video1" />
        <param name="camera_info_url" value="file://$(find visual_pedometry)/param/cal.yml" />
        <!-- <param name="camera_frame_id" value="usb_cam" /> -->
    </node>
</launch>
