<launch>


    <!-- Start the static transformations -->
    <!-- <include file="transforms.xml"/> -->

	<!-- Arguments -->
	<!-- <arg name="bagfile" default="bagfile.bag"/> -->
	<!-- <arg name="camera" default="/mono" />  -->
	<!-- <arg name="diparity_params" value="disparity_params.yaml"/> -->

	<!-- <param name="/use_sim_time" value="false"/> -->

	<!-- Run the rosbag -->


	<!-- Run the openni package -->
	<include file="$(find visual_pedometry)/launch/ir_depth_cam.launch"/>

	<!-- Run the ROS package stereo_image_proc -->
	<group ns="asus" >
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
	    	<!-- <rosparam file="$(arg disparity_params)"/> -->
		</node>
	</group>

	<!-- Run the viso2_ros package -->
	<node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
		<remap from="stereo" to="asus"/>
		<remap from="image" to="image_rect"/>
	</node>

	



</launch>
